@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
html {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif; }

html,
body,
#root {
  height: 100%; }

.background {
  background: url(./assets/images/bg-desktop-light.jpg);
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 100%; }

input,
button {
  font-family: "Josefin Sans", sans-serif; }

.mainDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .mainDiv .titleSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3em; }
    .mainDiv .titleSection h1 {
      font-size: 2.2rem;
      color: white;
      letter-spacing: 0.667rem;
      font-weight: 700; }
    .mainDiv .titleSection span {
      cursor: pointer; }

.todoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 30rem; }
  .todoSection .addTodo {
    border: 1px solid RGB(236, 235, 238);
    margin-bottom: 1.5rem;
    border-radius: 0.444rem;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 19px 32px 12px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    box-sizing: border-box; }
    .todoSection .addTodo__checkbox {
      width: 1.389rem;
      height: 1.389rem;
      padding: 0;
      margin: 0;
      border-radius: 0.833rem;
      border: 1px solid RGB(233, 232, 236);
      margin-right: 1rem; }
    .todoSection .addTodo__text {
      font-size: 1rem;
      width: 85%;
      padding: 1.333rem 0.556rem;
      border: none;
      caret-color: #939cf5; }
      .todoSection .addTodo__text:focus-visible {
        outline: none; }
    .todoSection .addTodo ::placeholder {
      color: RGB(167, 166, 170); }
  .todoSection .mainTodo {
    width: 100%;
    box-shadow: 0px 19px 32px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.44rem;
    overflow: hidden; }
    .todoSection .mainTodo ul {
      width: 100%; }
      .todoSection .mainTodo ul li .todoInput {
        border-bottom: 1px solid RGB(236, 235, 238);
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        box-sizing: border-box; }
        .todoSection .mainTodo ul li .todoInput__checkbox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.389rem;
          height: 1.389rem;
          padding: 0;
          margin: 0;
          border-radius: 0.833rem;
          border: 1px solid RGB(233, 232, 236);
          margin-right: 1rem;
          cursor: pointer; }
          .todoSection .mainTodo ul li .todoInput__checkbox img {
            display: none; }
          .todoSection .mainTodo ul li .todoInput__checkbox:hover {
            background: linear-gradient(white, white) padding-box, linear-gradient(to right bottom, #57ddff, #c058f3);
            border-radius: 0.833rem;
            border: 1px solid transparent !important; }
        .todoSection .mainTodo ul li .todoInput__text {
          border-radius: 0.2rem;
          width: 85%;
          padding: 1.167rem 0.556rem;
          border: none;
          font-size: 1rem;
          color: RGB(82, 84, 97);
          font-weight: 600; }
        .todoSection .mainTodo ul li .todoInput__cross {
          visibility: hidden;
          opacity: 0;
          width: 1rem;
          height: 1rem;
          cursor: pointer; }
        .todoSection .mainTodo ul li .todoInput:hover .todoInput__cross {
          visibility: visible;
          opacity: 1; }
        .todoSection .mainTodo ul li .todoInput .activeCheckButton {
          background-image: linear-gradient(to right bottom, #57ddff, #c058f3); }
          .todoSection .mainTodo ul li .todoInput .activeCheckButton img {
            display: block; }
        .todoSection .mainTodo ul li .todoInput .activeCheckText {
          text-decoration: line-through;
          color: #d2d3db; }
    .todoSection .mainTodo .todoSetting {
      width: 100%;
      background: white;
      border-bottom: 1px solid RGB(236, 235, 238);
      border-radius: 0.2rem; }
      .todoSection .mainTodo .todoSetting > div {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .todoSection .mainTodo .todoSetting > div p {
          color: RGB(152, 151, 156);
          font-size: 0.778rem;
          font-weight: 500; }
        .todoSection .mainTodo .todoSetting > div div button {
          color: #9394a5;
          border: none;
          background: transparent;
          font-size: 0.778rem;
          font-weight: 700;
          cursor: pointer; }
          .todoSection .mainTodo .todoSetting > div div button:hover {
            color: #484b6a; }
          .todoSection .mainTodo .todoSetting > div div button:nth-child(1) {
            color: #3a7bfd !important; }
        .todoSection .mainTodo .todoSetting > div button {
          color: RGB(152, 151, 156);
          border: none;
          background: transparent;
          font-size: 0.778rem;
          font-weight: 500;
          cursor: pointer; }
          .todoSection .mainTodo .todoSetting > div button:hover {
            color: #484b6a; }

@media only screen and (min-width: 1441px) {
  html {
    font-size: 20px; } }
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px; }

  .background {
    background-size: auto !important; } }
@media only screen and (max-width: 576px) {
  html {
    font-size: 14px; }

  .background {
    background-size: contain !important;
    background: url(./assets/images/bg-mobile-light.jpg); }

  .mainDiv {
    position: static;
    transform: none;
    padding: 50px 25px 0 25px; }
    .mainDiv .todoSection {
      width: 100%; }
      .mainDiv .todoSection .addTodo {
        padding: 0 22px;
        box-sizing: border-box; }
        .mainDiv .todoSection .addTodo__text {
          padding: 1.35rem 0.5rem;
          font-size: 12px; }
      .mainDiv .todoSection .mainTodo ul li .todoInput {
        align-items: center;
        box-sizing: border-box;
        padding: 0 22px; }
        .mainDiv .todoSection .mainTodo ul li .todoInput__text {
          padding: 1.35rem 0.5rem;
          font-size: 12px; }
        .mainDiv .todoSection .mainTodo ul li .todoInput__cross {
          display: block;
          width: 12px;
          height: 12px; }

  .todoSetting > div {
    position: relative;
    padding: 20px 22px !important; }
    .todoSetting > div div {
      box-sizing: border-box;
      box-shadow: 0px 19px 32px 12px rgba(0, 0, 0, 0.089);
      display: flex;
      justify-content: center;
      padding: 16px 22px;
      background-color: #fff;
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 70px; }
      .todoSetting > div div button {
        font-size: 1rem !important; } }

/*# sourceMappingURL=app.css.map */
