@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

html {
  background: url(./assets/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

input,
button {
  font-family: "Josefin Sans", sans-serif;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .titleSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    h1 {
      font-size: 2.2rem;
      color: white;
      letter-spacing: 12px;
      font-weight: 700;
    }
    button {
    }
  }
}

.todoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 550px;
  box-shadow: 0px 19px 32px 12px rgba(0, 0, 0, 0.1);

  .addTodo {
    border: 1px solid RGB(236, 235, 238);
    border-radius: 8px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__checkbox {
      width: 25px;
      height: 25px;
      padding: 0;
      margin: 0;
      border-radius: 15px;
      border: 1px solid grey;
      margin: auto;
    }
    &__text {
      font-size: 1rem;
      width: 85%;
      padding: 24px 10px;
      border: none;
    }
    ::placeholder {
      color: RGB(167, 166, 170);
    }
  }

  .mainTodo {
    width: 100%;
    ul {
      margin-top: 1.5rem;
      width: 100%;
      li {
        .todoInput {
          border-bottom: 1px solid RGB(236, 235, 238);
          background-color: white;
          width: 100%;
          display: flex;
          justify-content: flex-end;

          &__checkbox {
            width: 25px;
            height: 25px;
            padding: 0;
            margin: 0;
            border-radius: 15px;
            border: 1px solid RGB(233, 232, 236);
            margin: auto;
          }
          &__text {
            border-radius: 0.2rem;
            width: 85%;
            padding: 21px 10px;
            border: none;
            font-size: 1rem;
          }
          ::placeholder {
            color: RGB(82, 84, 97);
            font-weight: 600;
          }
        }
      }
    }

    .todoSetting {
      width: 100%;
      background: white;
      border-bottom: 1px solid RGB(236, 235, 238);
      border-radius: 0.2rem;
      > div {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          color: RGB(152, 151, 156);
          font-size: 14px;
          font-weight: 500;
        }
        div {
          button {
            color: RGB(152, 151, 156);
            border: none;
            background: transparent;
            font-size: 14px;
            font-weight: 700;
          }
        }

        button {
          color: RGB(152, 151, 156);
          border: none;
          background: transparent;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
